{% extends 'main.htm' %} {% load static %} {% block content %} 
<style>
    .opening-section {
        background: linear-gradient(140deg, rgba(110, 110, 148, 0.5), rgba(145, 126, 126, 0.3)), url("{% static 'images/about-header.jpg' %} ");
        height: 80vh;
        background-size: cover;
        width: 100%;
    }

    
    @media screen and (max-width: 1024px) and (min-width: 375px) {

        .opening-section {
            height: 45vh;
        }
    }
    @media screen and (max-width: 375px){
        .opening-section{
            height: 39vh;
        }
    }
</style>



<section class="hero opening-section">
    <div class="container">
        <div class="main-message">

           

        </div>
    </div>
</section>



<div class="main-container">
    <section>
        <h1 class="heading" style="z-index: -1;">About the initiative</h1>
    </section>

    <section>
        <div class="custom-row">
            <div class="col1 column">
                <p style="font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 20px;">


                    Hacqs initiative Ghana, is a non-profit / non-government organisation established on March 1, 2020.
                    This organisation was established to impact in the life of others. 
                </p>
            </div>

            <div class="col2 column">
                <img src="{% static './images/Felix.jpg' %}" alt="image">
            </div>
        </div>
    </section>
</div>


<section id="mission">
    <div class="main-container">
        <h2>Our Mission</h2>
        <p>
            Hacqs initiative Ghana will contribute to our communities mainly through the areas of Basic Education(illiteracy), Information and Communication Technology, and HealthCare
        </p>
    </div>

</section>
<section id = 'mission' style="background-color: white;">
    <div class="main-container">
        <h2>Our Vision</h2>
        <p>
            With the help of the Government of Ghana and other Non Governmental Organisations, we will want to have a country with low illiteracy rate and poverty rate.
        </p>
    </div>
</section>
<!-- News letter -->
<!-- <div class="subscribe">
    <h1>Subscribe to our news letter</h1>
    <div>
        <form action="">
            <input type="email" name="client-email" id="client-email" placeholder="Email Address">
            <a href="#" class="subscribe-btn">Subscribe</a>
        </form>
    </div>
</div> -->

<script>
    activeNav = document.getElementById('about')
    activeNav.classList += ' custom-nav-link-active'
</script>
{% endblock %}