{% extends 'main.htm' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
<script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>

<style>
  .card-wrapper-custom{
      display: grid;
      grid-template-columns: repeat(auto-fit, 350px);
      gap: 60px;
  }
  .position{
      padding-bottom: 20px ;
  }
  .view-more{
      text-align: center;
      margin: 40px auto 0; 
      width: fit-content;
      transition: all 1s ease;
  
  }
  .view-more-button{
      background-color: blue;
      padding: 1.5rem;
      color: white;
      font-size: 15px;
      text-transform: uppercase;
      transition: all 1s ease;
  }
  .view-more-button:hover {
      background-color:rgb(72, 72, 255);
      box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.5);
  }

  .view-more a{
      color: white;
  }
  body{
    font-size: 20px;
  }

  .events{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem
  }
  .events>hr{
    margin-right:0;
    margin-left:0
  }
  .events>.list-group:first-child .list-group-item:first-child{
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem
  }
  .events>.list-group:last-child .list-group-item:last-child{
    border-bottom-right-radius:.25rem;
    border-bottom-left-radius:.25rem
  }
  .card-body{
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    min-height:1px;
    padding:1.25rem
  }
  .card-title{
    margin-bottom:.75rem
  }
  .card-subtitle{
    margin-top:-.375rem;
    margin-bottom:0
  }
  .card-text:last-child{
    margin-bottom:0
  }
  
  .card-link+.card-link{
    margin-left:1.25rem
  }
  .events-header{
    padding:.75rem 1.25rem;
    margin-bottom:0;
    background-color:rgba(0,0,0,.03);
    border-bottom:1px solid rgba(0,0,0,.125)
  }
  .event-link{
    color: black;
  }
  .event-link:hover{
    color: rgb(82, 82, 82);
  }
  img{
    margin-bottom: 10px;
  }
  img:hover{
    filter: grayscale(100%);
    transition: .8s;
    transform: scale(1.2);
  }
  @media screen and (min-width: 214px) {

    .events{
      margin-bottom: 15px;
    }
    .add-img{
      color: blue;
    }
    .add-img:hover{
      color: rgb(53, 53, 197);
      transition: 5s ease;
      text-decoration: underline;
    }
  }
</style>

<section class="team-section jumbo">
    <div class="welcome-container">
        <h1 class="heading" style="z-index: -1;">Gallery</h1>
        <div class="row">
          <div class="col-md-4">
            <div class="events">
              <div class="events-header">
                Events
                {% if user.is_authenticated %}
                <span style="float: right;">
                  <a href="{% url 'add_image' %}" class="add-img">
                    Add Images
                  </a>
                </span>
                {% endif %}
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a class="event-link" href="{% url 'gallery' %}">All</a>
                </li>
                {% for event in events %}
                <li class="list-group-item" style="display: flex; justify-content: space-between;">
                  <a class="event-link" href="{% url 'gallery' %}?event={{event}}">

                    {{event}}

                  </a>
                  {% if user.is_authenticated %}
                  <div>

                    <a href="{% url 'delete_event' event.id %}" class="btn btn-danger">delete</a>
                  </div>
                  {% endif %}
                </li>
                {% endfor %}
                
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              

                {% for image in images %}
                  
                  <div class="col-md-3">
    
                    <a href="{{ image.image.url }}" data-lightbox="mygallery" data-title = {{image.event.event_name}}>
                      <img src="{{ image.image.url }}" alt="Image">
                    </a>
    
                    {% if user.is_authenticated %}
                    <a class=" btn btn-sm btn-danger"  href="{% url 'delete_image' image.id %}">delete</a>
                    {% endif %}
                  </div>
                {% empty %}
                <div style="display: flex; align-items: center; justify-content: center; border: 1px solid black; padding: 10px;">

                  <h1 style="text-align: center; font-size: 50px; ">No Images</h1>
                </div>
                {% endfor %}

                <div class="row">
                  
                  <div class="col-md-12">
                      <div class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                          {% if images.has_other_pages %}
                          <ul class="pagination" style="margin-top: 20px;">
                              {% if images.has_previous %}
                              <li class="page-item"><a class="page-link" href="?page={{ images.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                              {% else %}
                              <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                              {% endif %}
                              {% for i in images.paginator.page_range %}
                                  {% if images.number == i %}
                                      <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                                  {% else %}
                                      <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                  {% endif %}
                              {% endfor %}
                              {% if images.has_next %}
                                      <li class="page-item"><a class="page-link" href="?page={{ images.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                              {% else %}
                              <li class="page-item disabled"><a class="page-link" href="#" aria-label=""><span aria-hidden="true">»</span></a></li>
                              {% endif %}
                          
                          </ul>
                          {% endif %}
                        </div>
                  </div>
              </div>
              
            </div>
          </div>
        </div>
            
            
              
          
</section>

<script>
    activeNav = document.getElementById('gallery')
    activeNav.classList += ' custom-nav-link-active'

    active = document.getElementsByClassName('active')
    

</script>

{% endblock %}