<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HACQS INITIATIVE | GHANA </title>

    <!-- Google font -->
   
       <!-- Custom CSS -->
    


    <!-- favicon -->
    


    
    

</head>
<body>
    <header class="home-header">
        <div>
            <nav>
                <div class="nav-brand">
                    <a href="#">
                        <img style="width: 5rem;" src="" alt="logo">
                        <span class="nav-text">HACQS INITIATIVE GHANA</span>
                    </a>
                </div>

                <ul class="nav-list">
                    <li class="custom-nav-item custom-nav-link-active"><a href="{% url 'home' %}" class="custom-nav-link">Home</a></li>
                    <li class="custom-nav-item"><a href="{% url 'about' %}" class="custom-nav-link">About Us</a></li>
                    <li class="custom-nav-item"><a href="{% url 'news' %}" class="custom-nav-link">News</a></li>
                    <li class="custom-nav-item"><a href="{% url 'gallery' %}" class="custom-nav-link">Gallery</a></li>
                    <li class="custom-nav-item"><a href="{% url 'team' %}" class="custom-nav-link">TEAM</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
    </header>
</body>
</html>