<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HACQS INITIATIVE | GHANA </title>

    <!-- Google font -->
   
       <!-- Custom CSS -->
    


    <!-- favicon -->
    


    
    

</head>
<body>
    <header class="home-header">
        <div>
            <nav>
                <div class="nav-brand">
                    <a href="#">
                        <img style="width: 5rem;" src="" alt="logo">
                        <span class="nav-text">HACQS INITIATIVE GHANA</span>
                    </a>
                </div>

                <ul class="nav-list">
                    <li class="custom-nav-item custom-nav-link-active"><a href="{% url 'home' %}" class="custom-nav-link">Home</a></li>
                    <li class="custom-nav-item"><a href="{% url 'about' %}" class="custom-nav-link">About Us</a></li>
                    <li class="custom-nav-item"><a href="{% url 'news' %}" class="custom-nav-link">News</a></li>
                    <li class="custom-nav-item"><a href="{% url 'gallery' %}" class="custom-nav-link">Gallery</a></li>
                    <li class="custom-nav-item"><a href="{% url 'team' %}" class="custom-nav-link">TEAM</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
    </header>

    <section class="hero opening-section">
        <div class="container">
            <div class="main-message">
                <h1>Welcome</h1>
                <p style="font-weight: lighter;">
                    HACQS INITIATIVE has a sole aim of helping the needy to help the appreciate life just like everyone else. We help them with the little that we have.
                    <!-- You can also help us to help them by donating to our account, and we pledge to use it accordingly. -->

                    <!-- <div class="view-more">
                        <a href="{% url 'donate' %}" class="subscribe-btn" >Donate Now</a>
                    </div> -->

                </p>
                <!-- <div class="cta">
                    <a href="#" class="btn">Book Now</a>
                </div> -->
            </div>
        </div>
    </section>

    <!-- Welcome Section -->
    <section class="welcome-section jumbo">
        <div class="welcome-container">
            <div class="custom-row">
                <div class="col1 column">
                    <img src="" alt="President" class="image-fluid">
                </div>
                <div class="col2 column">
                    <h2>Welcome</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolorum, placeat nostrum repellat voluptatem vero adipisci asperiores, laboriosam unde doloribus quasi velit quis voluptates neque assumenda ducimus pariatur. Nesciunt, quis!

                        <blockquote class="blockquote">
                            <h6>Felix Nyarko - PRESIDENT</h6>
                        </blockquote>
                    </p>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>