{% include 'nav-bar.htm' %} {% load static %}
    
    


{% block content %}
{% endblock %}


        <!-- footer -->
        <footer>
            <div class="welcome-container">
                <div class="main-content">
                    <div class="footer-about box">
                        <h2>About Us</h2>
                        <div class="content">
                            <p>
                                Hacqs initiative Ghana, is a non-profit / non-government organisation established on March 1, 2020.
                                This organisation was established to impact in the life of others. 
                            </p>
                        </div>

                    </div>
                    <div class="footer-location box">
                        <h2>Location</h2>
                        <div class="content">
                            <ul>
                                <li>Akwatia, Ghana</li>
                                <li>+233(0)241735951</li>
                                <li>hacqsinitiative@gmail.com</li>
                            </ul>
                        </div>

                    </div>
                    <div class="social box">
                        <h2>Contact Us</h2>
                        <div class="content">
                            <a href=""><img class="social-icons" src="{% static 'images/icons/036-facebook.png' %}" alt=""></a>
                            <a href=""><img class="social-icons" src="{% static 'images/icons/008-twitter.png' %}" alt=""></a>
                            <a href=""><img class="social-icons" src="{% static 'images/icons/029-instagram.png' %}" alt=""></a>
                            <a href=""><img class="social-icons" src="{% static 'images/icons/033-google-plus.png' %}" alt=""></a>
                            {% if user.is_authenticated %}
                            <p style="
                                text-transform: uppercase;
                                font-size: 1.5rem;
                                padding: 0;
                                margin: 1.5rem 0;
                                ">
                                <a href="{% url 'logout_user' %}" style="color: white;" class="footer-btn">
                                    logout
                                </a> 
                            </p>
                            {% else %}
                            <p style="
                            text-transform: uppercase;
                                font-size: 1.5rem;
                                padding: 0;
                                margin: 1.5rem 0
                                ">
                                <a href="{% url 'login_user' %}" style="color: white;" class="">
                                    login
                                </a> 
                            </p>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>
                        Copyright &copy; HACQS INITIATIVE GHANA 2021
                    </p>
                </div>
            </div>
        </footer>

        <script src="{% static 'js/app.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>

</html>