{% extends 'main.htm' %} {% load static %}  {% block content %} 


<style>
    .opening-section {
        background: linear-gradient(140deg, rgba(118, 118, 190, 0.5), rgba(221, 126, 126, 0.3)), url("{% static 'images/hacqs.jpg' %}");
        height: 90vh;
        background-size: cover;
        width: 100%;
    }
    .news-button{
        padding: 10px 10px;
    }
</style>

<section class="hero opening-section">
    <div class="container">
        <div class="main-message">
            <p>
                We Provide you with the latest news about the initiative
            </p>
        </div>
    </div>
</section>

<div class="news-section">
    <div class="container">
        <h2 class="news-heading">HIGH NEWS PAGE</h2>
        <p class="news-body">
            This page consist of all the news and posts about the initiative that you need to know, any of the list to read more.
        </p>
        {% if user.is_authenticated %}
        <a href="{% url 'add_post' %}" class="news-button">Add A New Post</a>
        {% else %}
        <a href="" class="news-button"></a>
        {% endif %}
    </div>

    {% for post in news %}
    <div class="related-news">
        <a href="{% url 'post' post.slug %}">
            <div class="container ">
                <div class="custom-row">
                    <div class="col-10">
                        <h3>

                            {{post.sub_heading}}

                        </h3>
                    </div>
                    <div class="col-2">
                        <p class="date">{{post.date_created}}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% empty %}
    <h2>No News Yet</h2>
    {% endfor %}
    

</div>


<script>
    activeNav = document.getElementById('news')
    activeNav.classList += ' custom-nav-link-active'
</script>

{% endblock %}