{% extends 'main.htm' %} {% load static %} {% block content %}

<style>
    .card-wrapper-custom{
        display: grid;
        grid-template-columns: repeat(auto-fit, 350px);
        gap: 60px;
    }
    .position{
        padding-bottom: 20px ;
    }
    .view-more{
        text-align: center;
        margin: 40px auto 0; 
        width: fit-content;
        transition: all 1s ease;
    
    }
    .view-more-button{
        background-color: blue;
        padding: 1.5rem;
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        transition: all 1s ease;
    }
    .view-more-button:hover {
        background-color:rgb(72, 72, 255);
        box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.5);
    }

    .view-more a{
        color: white;
    }

</style>

<section class="team-section jumbo">
    <div class="welcome-container">
        <h1 class="heading" style="z-index: -1;">The team</h1>
        <div class="card-wrapper-custom">
            
            
            <!-- CARDS -->

            {% for executive in executives %}
                
                    <div class="card" >
                        <img src="{% static './images/background.jpg' %}" alt="background image" class="card-img">
                        <img src="{{ executive.image.url }}" alt="profile image" class="profile-img">
                        <h1>
                            <a style="color:black;" href="{% url 'update_executive' executive.id %}">
                                {{executive.name}}

                            </a>
                        </h1>
                        <p class="position" style="text-transform: uppercase;">{{executive.position}}</p>
                        <!-- <p class="about">
                            {{executive.about}}
                        </p> -->
                        {% if user.is_authenticated %}
                        <p style="margin-bottom: 10px;">
                            <span>
                                <a style="color: blue;" href="{% url 'update_executive' executive.id %}">

                                    Update 
                                </a>
                                |
                                <a onclick="confirm('Are you sure?');" style="color: blue;" href="{% url 'delete_executive' executive.id %}">
                                    Delete
                                </a> 
                            </span>

                        </p>
                        {% endif %}
                        <ul class="social-media">
                            <li>
                                <a href="www.facebook.com"><img class="social-icons" src="{% static './images/icons/036-facebook.png' %}" alt=""></a>
                            </li>
                            <li>
                                <a href="{{executive.twitter}}"><img class="social-icons" src="{% static './images/icons/008-twitter.png' %}" alt=""></a>
                            </li>
                            <li>
                                <a href="{{executive.instagram}}"><img class="social-icons" src="{% static './images/icons/029-instagram.png' %}" alt=""></a>
                            </li>
                            <li>
                                <a href=""><img class="social-icons" src="{% static './images/icons/033-google-plus.png' %}" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    
                    {% empty %}
                    <style>
                        .card-wrapper-custom{
                            display: block;
                        }
                    </style>
                    <div style="border: 1px solid rgb(94, 94, 94); padding: 10px;">
        
                        <h1 style="text-align: center; font-size: 50px; ">No Team Members</h1>
                      </div>
                    {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <div class="view-more">
            <a href="{% url 'add_executive' %}" class="view-more-button">Add New Executive</a>
        </div>
        {% endif %}
</section>

<script>
    activeNav = document.getElementById('team')
    activeNav.classList += ' custom-nav-link-active'
</script>

{% endblock %}